@charset "utf-8";
/* CSS Document */

/* Image Wrapper, and Hover Effect */

.header {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Verdana;
}


body {
    margin: 0;
    margin-bottom: 25rem;
    background: #2a2a2a;
    color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    background-color: #792d2d;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar h3 a {
    color: white;
}

.navbar h3 a:hover {
    color: white;
}

.img-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 200ms ease-in-out;
    width: 100%;
    width: 400px;
}

.img-wrapper > img {
    flex-basis: calc(100% - 3rem);
    flex-grow: 1;
    height: 100%;
    object-fit: cover;
    transition: 200ms ease-in-out;
    opacity: 1;
    display: block;
}

.img-wrapper > .content {
    position: absolute;
    transition: 200ms ease-in-out;
    inset: 0;
    font-size: 1rem;
    color: white;
    padding: 1rem 1rem 1rem 4rem;
    background: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    opacity: 1;
    white-space: pre-line;
    z-index: 2;

}


.img-wrapper > .ranking {
    width: 3rem;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Verdana;
    color: white;
    background-color: #792d2d;
    z-index: 3;
    opacity: 1;
}

.img-wrapper > .content.fade {
    transition: 200ms ease-in-out;
    align-items: flex-start;
    padding: 1rem 1rem 1rem 4rem;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}

.img-wrapper:hover > .content.fade {
    opacity: 1;
    pointer-events: auto;
}

.img-wrapper:hover > .img {
    opacity: 0.5;
}

.img-wrapper:hover > .ranking {
    background-color: #792d2d;
    opacity: 1;
}

.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

#position {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

svg path,
svg rect{
  fill: #792d2d;
}

