@charset "utf-8";
/* CSS Document */

/* Image Wrapper, and Hover Effect */

.header {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Verdana;
}


body {
    margin: 0;
    margin-bottom: 25rem;
    background: #2a2a2a;
    color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    background-color: #792d2d;
}

.img-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 200ms ease-in-out;
    width: 100%;
    width: 400px;
}

.img-wrapper > img {
    flex-basis: calc(100% - 3rem);
    flex-grow: 1;
    height: 100%;
    object-fit: cover;
    transition: opacity 200ms ease-in-out;
    display: block;
}

.img-wrapper > .content {
    position: absolute;
    transition: 200ms ease-in-out;
    inset: 0;
    font-size: 1rem;
    color: black;
    padding: 1rem;
    background: rgba(255, 255, 255, .95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    white-space: pre-line;

}


.img-wrapper > .ranking {
    width: 3rem;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Verdana;
    color: white;
    background-color: transparent;
    z-index: 5;
}

.img-wrapper > .content.fade {
    transition: 200ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}

.img-wrapper:hover > .content.fade {
    opacity: 0.75;
    pointer-events: auto;
}

.img-wrapper:hover > .img {
    opacity: 0.75;
}

.img-wrapper:hover > .ranking {
    background-color: transparent;
    opacity: 1;
    z-index: 5
}

.img-wrapper:hover > img.blur {
    opacity: 0.75;
    z-index: 5;
}