{% extends "layout.html" %}

{% block body %}

    <p>HOMEPAGE</p>
    <div class="grid">
        {% for game in game_data %}
        <div class="img-wrapper">
            <img class="blur" src="{{ game.img_logo_url }}" alt="{{ game.game }} logo" width="300">
            <div class="content fade">
                {% if game.timetobeat %}
                    <p id="game-timetobeat-{{ loop.index }}">How far you are from beating: {{ game.timetobeat }}</p>
                {% endif %}
                {% if game.timetocomplete %}
                    <p id="game-timetocomplete-{{ loop.index }}">How far you are from completion: {{ game.timetocomplete }}</p>
                {% endif %}
                {% if game.timefromavgmp %}
                    <p id="game-timefromavgmp-{{ loop.index }}">How far you are from average multiplayer time: {{ game.timefromavgmp }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% for game in game_data2 %}
        <div class="img-wrapper">
            <img class="blur" src="{{ game.img_logo_url }}" alt="{{ game.game }} logo" width="300">
            <div class="content fade">
                {% if game.timetobeat %}
                    <p id="game-timetobeat-{{ loop.index }}">How far you are from beating: {{ game.timetobeat }}</p>
                {% endif %}
                {% if game.timetocomplete %}
                    <p id="game-timetocomplete-{{ loop.index }}">How far you are from completion: {{ game.timetocomplete }}</p>
                {% endif %}
                {% if game.timefromavgmp %}
                    <p id="game-timefromavgmp-{{ loop.index }}">How far you are from average multiplayer time: {{ game.timefromavgmp }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}