<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="header">
            <h1>NEXTUP</h1>
        </div>

    <p>Please Log In</p>
    <form action="/index" method="POST">
        <input type="text" placeholder="Enter Username" name="username">
        <input type="password" placeholder="Enter Password" name="password">
        <button class="btn" type="submit">Log In</button>
    </form>

    <p>Don't have an account yet? <a href="{{ url_for('register')}}">Register</a></p>
    
    </body>
</html>
